<configuration>
    <contextName>TestCtx</contextName>
    <property name="LOG_MAX_HISTORY" value="111"/>
    <property name="LOG_CHARSET" value="UTF-8"/>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} %-5level [%thread] %logger{18} - %msg%n"/>
    <if condition='isDefined("pro_key")'>
        <then>
            <property name="LOG_HOME" value="${pro_key}"/>
        </then>
        <else>
            <property name="LOG_HOME" value="/home/admin/itemcenter/logs"/>
        </else>
    </if>
    <!--<property name="LOG_HOME" value="/home/admin/itemcenter/logs"/>-->
    <!--<property name="LOG_BAK_HOME" value="${LOG_HOME}/bak"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${LOG_HOME}/test.log
        </file>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DAY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/test_day.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BAK_HOME}/logFile.%d{yyyy-MM-dd_HH-mm-ss}.log.zip</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DAY_FILE"/>
    </root>
</configuration>