<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 3.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="loginServiceConsumer" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
        <property name="interfaceName" value="com.taobao.teaey.lostrpc.hsf.LoginService"/>
        <property name="version" value="1.2.1.kongzheng.standlone"/>
        <property name="group" value="KZ.Group"/>
    </bean>
</beans>